# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/app/debug
android/app/profile
android/app/release
android/local.properties
android/.gradle/
android/captures/
android/gradle/
android/gradlew
android/gradlew.bat

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json

# macOS
macos/Flutter/ephemeral/

# Web
web/

# Temp / misc
*.log
*.DS_Store
